\documentclass[12pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage{graphicx,xcolor}
\usepackage[active,tightpage]{preview}
\input{tikz_products}
\PreviewEnvironment{tikzpicture}
\begin{document}
\begin{tikzpicture}
\path 
  {% if base_color %} 
    pic {base={{base_color}}} 
  {% endif %}
  {% if ring_colors %} 
    {% for ring_color in ring_colors %} 
      ++(0,.55) pic {ring={{ring_color}}}
    {% endfor %}
  {% endif %}
  {% if cap_color %}
    ++(0,.195) pic {cap={{cap_color}}}
  {% endif %};
\end{tikzpicture}
\end{document}
