version: 2
jobs:
  build:
    docker:
      - image: quay.io/robocup-logistics/fedora-texlive:f36-texlive2021
    steps:
      - checkout
      - run:
          name: Build rulebook
          command: make
      - store_artifacts:
          path: rulebook.pdf
      - store_artifacts:
          path: challenges.pdf
  check:
    docker:
      - image: quay.io/robocup-logistics/fedora-texlive:f36-texlive2021
    steps:
      - checkout
      - run:
          name: Run all checks
          command: make check
workflows:
  version: 2
  build_and_check:
    jobs:
      - build
      - check
